.php_footer {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
}

h1 {
    width: 100%;
    text-align: center;
}

p {
    width: 100%;
    text-align: center;
}

#logo {
    width: 200px;
}